:root {
  --color-app: #c9244a;
  --color-text: #525557;
  --bg-base: #ffffff;
  --bg-grey: #f3f4f5;
}
.container {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}
.header {
  width: 100vw;
  height: 8rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
}
.line-info {
  height: 2rem;
  background-color: var(--bg-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}
.line-info div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.line-info p {
  font-size: 10.5px;
  color: var(--color-text);
  margin: 0 10px;
  cursor: pointer;
}
.navbar {
  height: 4.5rem;
  background-color: var(--bg-base);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
}
.navbar h1 {
  color: var(--color-app);
  cursor: pointer;
}
.navbar p {
  margin: 0 20px;
  color: var(--color-text);
  font-size: 12px;
  cursor: pointer;
}
.navbar .search-bar {
  display: flex;
  width: 50%;
  height: 2em;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.navbar .authentication {
  display: flex;
  width: 20%;
  justify-content: space-between;
  padding: 0 8px;
}
.navbar .authentication .button {
  height: 2em;
  border-radius: 8px;
  border: 1px solid var(--color-app);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.button p {
  font-weight: bolder;
  color: var(--color-app);
}
.navbar .authentication .button-block {
  border-radius: 8px;
  background-color: var(--color-app);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.button-block p {
  font-weight: bolder;
  color: var(--bg-base);
}
.separator {
  height: 1.5rem;
  width: 1.8px;
  background-color: #b5b8ba;
  opacity: 0.4;
}
.search-button {
  background-color: var(--bg-grey);
  height: 100%;
  width: 10%;
  border-radius: 0 8px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cart {
  display: flex;
  margin: 0 20px;
  align-items: center;
  cursor: pointer;
}
input {
  width: 93%;
  border: none;
  margin: 0 10px;
  color: var(--color-text);
  font-size: 12px;
}
::placeholder {
  color: #b5b8ba;
  font-size: 12px;
}
.slide-wrap {
  overflow: hidden;
  width: 100%;
  height: 15rem;
  background-color: var(--bg-base);
  border-radius: 15px;
}
.slider {
  white-space: nowrap;
  transition: ease 500ms;
  border-radius: 15px;
}
.slide {
  display: inline-block;
  opacity: 0.2;
  height: 15rem;
  width: 100%;
  border-radius: 15px;
}
.slide-dots {
  padding: 0 10px;
  position: absolute;
  top: 21rem;
}
.dot {
  display: inline-block;
  height: 8px;
  width: 8px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #c4c4c4;
  margin: 0 2.5px;
}
.dot.active {
  background-color: #333;
  opacity: 0.7;
}
.content {
  padding: 0 3%;
  margin: 8rem 0 0 0;
}
.category-wrap {
  border-radius: 15px;
  margin-top: 15px;
  width: 100%;
  height: 11rem;
  padding: 10px 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.category-wrap h1 {
  font-size: 19px;
  margin: 10px 0;
  color: #393d43;
}
.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}
.category-item {
  width: 80px;
  height: 97%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  background-color: #b5b8ba;
  opacity: 0.3;
}
hr {
  background-color: #ccc;
  opacity: 0.5;
  border: 0 none;
  height: 1px;
  margin-top: 25px;
}
.product-wrap {
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.product-wrap h1 {
  font-size: 19px;
  margin: 20px 10px 50px 10px;
  color: #393d43;
}
.product-item {
  width: 145px;
  height: 130%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  opacity: 0.3;
}
.product-photo {
  background-color: #b5b8ba;
  height: 50%;
  border-radius: 10px 10px 0 0;
}
.product-desc {
  background-color: var(--bg-base);
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row .seeall {
  color: var(--color-app);
  font-size: 13px;
}
.big-separate {
  background-color: #ccc;
  border: 0 none;
  height: 7px;
  width: 100vw;
  margin: 4rem -30px 30px;
}
.sticky-custom-category {
  width: 100vw;
  margin: 0 -2rem;
  padding: 10px 2.5rem;
  position: sticky;
}
.custom-category-wrap {
  overflow-x: auto;
  overflow-y: hidden;
  height: 5rem;
  white-space: nowrap;
}
.custom-category-wrap > div:last-of-type {
  margin-right: 0;
}
.custom-category {
  display: inline-block;
  top: 0;
  width: 13rem;
  height: 100%;
  background-color: #b5b8ba;
  opacity: 0.3;
  margin-right: 10px;
  border-radius: 10px;
}
.clearfix {
  height: 100rem;
}
